/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );

:root {
  color-scheme: light dark;
}

@font-face {
  font-family: "Times New Roman";
  src: url("@/assets/times.ttf") format("opentype");
}

.v-main {
  background-color: #dcd4c6;
}

$font-family: "Source Sans Pro";
.v-application {
  [class*="text-"] {
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
}

.kartica {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  background-color: #fffdf9;
  border-radius: 8px;
}

.topFab {
  position: fixed;
  z-index: 999;
  bottom: 30px;
  right: 30px;
}

.v-input__details {
  padding-left: 16px;
}