/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );

@font-face {
  font-family: "Times New Roman";
  src: url("@/assets/times.ttf") format("opentype");
}

.v-main {
  background-color: #dcd4c6;
}

$font-family: "Source Sans Pro";
.v-application {
  [class*="text-"] {
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
}
